body {
    text-align: center;
/*    border: 10px solid #6b5b95;*/
    max-height: 70vh;
}
html {
    background-color: #d64161;
    padding: 100px;
    text-align: center;
}

.question-item {
    border: 1px solid black;
}

.list-container {
    /*border-bottom-left-radius: 10px;*/
    max-height: 250px;
}

.scroll-list {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 70vh;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: white;
}

    .scroll-list .scroll-item {
        min-width: 250px;
        height: 180px;
        line-height: 110px;
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #d64161;
        margin: 5px;
        border-radius: 20px;
        padding-right: 10px;
    }

h1 {
    text-align: center;
}

button {
    background-color:red;
    height: 160px;
    width: 200px;
}

button:hover {
    background-color: green;
}