body {
    background-color: white;
}
.index-page-text {
    font-size: 35px;
}
.index-title {
    font-size: 55px;
}
.login-form-container {
    display: flex;
    flex-direction: row;
}
.container-all {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
}
.login-form-items-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-item {
    margin: 10px;
    font-size: 30px;
    width: 90%;
}
.form {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px; 
    background-color: #fff;
}
.hr {
    width: 90%;
    height: 1px;
    margin: 10px;
    background-color: grey;
}
.btn-outline-secondary {
    width: 60%;
}

.modal {
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    animation: popUp 0.2s ease-in-out;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .modal-content h6 {
        margin: 20px 10px;
        text-align: center;
        line-height: 2;
        margin-bottom: 0;
    }

    .modal-content form {
        width: 400px;
        text-align: center;
        margin: 0;
    }

.digit-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

    .digit-container input {
        width: 35px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        border: none;
        border-bottom: 2px solid #000;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
    }

        .digit-container input:focus {
            outline: none;
            border-bottom-color: #007bff;
        }

.modal-content .btn {
    margin-top: 20px;
    width: 100px;
    margin-bottom: 20px;
}

p .button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: #0000EE;
}

p .button:hover {
    background-color: transparent;
    text-decoration: underline;
}