@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>


    <div class="container-all">
        <div class="index-page-text">
            <p class="index-title">QuizApp</p>
            <p class="index-description">Start creating your quizzes and share <br /> with your friends!</p>

            <a href="#" style="font-size: 25px" data-bs-toggle="modal" data-bs-target="#modalQuizApp" style="text-decoration: none; color: #007bff;">What is QuizApp?</a>

            <div class="modal" id="modalQuizApp" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">What is QuizApp</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                QuizApp is an engaging online quiz system that allows users to create their own quizzes and questions, solve quizzes crafted by others, and track their performance. Dive into a variety of quizzes, measure your knowledge, and see how you fare against other users. With detailed feedback, scoreboards, and insights into top performers, QuizApp transforms the quiz experience into a dynamic and competitive journey.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-form-container">
            <form method="post" asp-page-handler="Login">
                <div class="login-form-items-container form">

                    <input class="login-form-item input form-control" type="text" name="login-username-email" placeholder="Username or email" />
                    <input class="login-form-item form-control" type="password" name="login-password" placeholder="Password" />
                    <button class="login-form-item btn btn-success" type="submit">Login</button>
                    <p style="font-size: 20px; margin-top: 10px;">Don't have an account? <a href="/register">Create a new account</a></p>

                    @* <a href="" style="margin: 5px; text-decoration:none">Forgot your password?</a> *@

                </div>
            </form>
        </div>

    </div>




    @* <script src="~/js/Index.js"></script> *@
    @* <script src="~/js/Index.js"></script> *@
</body>
</html>
